body{
    display: flow-root;
    background-color: rgb(219, 235, 185);
}
#img1{
    float:left;
    margin-right:10px;  
}
#div1{
    background-color:beige;
}
#pre1{
 background-color: beige;
 font-family: cursive;
}
#div2{
background-color:beige;
}
#t1{
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:aliceblue;
    margin-left: 10px;
    margin-right: 20px;
}
#div3{
    text-align: left;
    background-color: rgb(210, 247, 146);
}